langchain
langchain_groq
langchain_core
langchain_core
langchain_text_splitters
validators
pytube
unstructured
streamlit
edge_tts
langchain_community
# youtube_transcript_api
yt-dlp
groq
beautifulsoup4